@media (max-width: 575.98px)
{
    section.projects,
    section.education,
    section.idioms,
    section.courses,
    section.technologies,
    section.contact,
    footer
    {
        padding: 10vh 5vw;
    }
    
    .g-two-col {
        display: grid;
        grid-template-columns: 90vw;
        grid-template-rows: 1fr;
        grid-gap:4vw;
        justify-content: center;
    }
    
    .education .g-two-col {
        display: grid;
        grid-template-columns: 45vw 45vw;
        grid-template-rows: 1fr;
        grid-gap: 2vw;
        justify-content: center;
    }
    
    section.interactive .text {
        padding: 1rem;
        font-size: 1.4rem;
        line-height: 2rem;
        text-align: center;
    }
    
    #navbar ul li a img {
        vertical-align: middle;
        width: 50px;
        height: 50px;
        cursor: pointer;
    }
    .menu-mobile li:last-child {
        padding-left: 0px;
    }

}
@media (min-width: 576px) and (max-width: 767.98px)
{
    .g-two-col {
        display: grid;
        grid-template-columns: 60vw;
        grid-template-rows: 1fr;
        grid-gap:4vw;
        justify-content: center;
    }
    
    .education .g-two-col {
        display: grid;
        grid-template-columns: 37vw 37vw;
        grid-template-rows: 1fr;
        grid-gap:3vw;
        justify-content: center;
    }
    
    #text-overlay {
        line-height: 2.5rem;
    }
    
    #navbar ul li a img {
        vertical-align: middle;
        width: 50px;
        height: 50px;
        cursor: pointer;
    }
    .menu-mobile li:last-child {
        padding-left: 0px;
    }
}
@media (min-width: 768px) and (max-width: 991.98px)
{
    .g-two-col {
        display: grid;
        grid-template-columns: 60vw;
        grid-template-rows: 1fr;
        grid-gap:4vw;
        justify-content: center;
    }
    
    .education .g-two-col {
        display: grid;
        grid-template-columns: 37vw 37vw;
        grid-template-rows: 1fr;
        grid-gap:2vw;
        justify-content: center;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px)
{
    .g-two-col {
        display: grid;
        grid-template-columns: 60vw;
        grid-template-rows: 1fr;
        grid-gap:4vw;
        justify-content: center;
    }
    
    .education .g-two-col {
        display: grid;
        grid-template-columns: 37vw 37vw;
        grid-template-rows: 1fr;
        grid-gap:2vw;
        justify-content: center;
    }
}

@media (min-width: 1200px) and (max-width: 1399.98px)
{
    .g-two-col {
        display: grid;
        grid-template-columns: 37vw 37vw;
        grid-template-rows: 1fr;
        grid-gap:4vw
    }
}

@media (min-width: 1400px)
{
    .g-two-col {
        display: grid;
        grid-template-columns: 37vw 37vw;
        grid-template-rows: 1fr;
        grid-gap:4vw;
    }
    
    .education .g-two-col {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap:2vw;
        justify-content: center;
    }
}